$bgcolor: rgb(255, 255, 255);

//header
$headerwidth: 1870px;
$headerheigth: 200px;
$headerbgcolor:rgba(61, 61, 61, 0.8);


//sidemenu
$menucolor: rgb(200,200,200);
$buttonmenubgcolor: rgb(43,43,43);
$menufontsize: 17px;
$menufont: fantasy, sans-serif;
$buttonmenuwidth: 243px;
$buttonmenuheight: 43px;
$buttonmenupadding: 5px;
$buttonmenumargin: 0px;
$buttonborderclr: rgba(20,20,20,0.5);

$buttonhoverclr: rgba(220,220,220,0.5);

$marginmainpage: 270px;

body {
    background-color: $bgcolor;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.1)), url("assets/imgs/Wallpaper.jpg");   
    background-blend-mode:darken;
    
}

header {
    width: $headerwidth;
    height: $headerheigth;
    background-color: $headerbgcolor;
    padding: $buttonmenupadding;
    mix-blend-mode:screen;
    border-radius: 3px;
}

.sidemenu {
    width: $buttonmenuwidth;
    height: 2000px;
    background-color: $headerbgcolor;
    padding: $buttonmenupadding;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}

button:hover {
    background-color: rgb(27, 27, 27);
    color: white;
    border: 1px solid $buttonhoverclr;
}

button {
    font-family: $menufont;
    background-color: $buttonmenubgcolor;
    color: $menucolor;
    font-size: $menufontsize;
    width: $buttonmenuwidth;
    height: $buttonmenuheight;
    padding: $buttonmenupadding;
    margin-top: 3px;
    margin-left: $buttonmenumargin;
    margin-right: $buttonmenumargin;
    border: 2px solid $buttonborderclr;
    border-radius: 3px;
}

.mainpage {
    width: 1000px;
    height: 1700px;
    margin-left: $marginmainpage;
}

footer {
    width: $headerwidth;
    height: $headerheigth;
    background-color: $headerbgcolor;
    padding: $buttonmenupadding;
    border-radius: 2px;
}
