$bgcolor: rgb(52,52,52);

//header
$headerwidth: 1870px;
$headerheigth: 200px;
$headerbgcolor:rgb(43,43,43);


//sidemenu
$menucolor: white;
$buttonmenubgcolor: rgb(43,43,43);
$menufontsize: 17px;
$menufont: fantasy, sans-serif;
$buttonmenuwidth: 300px;
$buttonmenuheight: 50px;
$buttonmenupadding: 10px;
$buttonmenumargin: 0px;



body {
    background-color: $bgcolor;
}
.header {
    width: $headerwidth;
    height: $headerheigth;
    background-color: $headerbgcolor;
    padding: $buttonmenupadding;
}

.sidemenu {
    width: $buttonmenuwidth;
    height: 1000px;
    background-color: $headerbgcolor;
    padding: $buttonmenupadding;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    font-family: $menufont;
    background-color: $buttonmenubgcolor;
    color: $menucolor;
    font-size: $menufontsize;
    width: $buttonmenuwidth;
    height: $buttonmenuheight;
    padding: $buttonmenupadding;
    margin-left: $buttonmenumargin;
    margin-right: $buttonmenumargin;
}
.bottom {
    width: $headerwidth;
    height: $headerheigth;
    background-color: $headerbgcolor;
    padding: $buttonmenupadding;
}
