/* reset css com ajuste do calculo das bordas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 300vh;
  background-blend-mode: darken;
  font-family: 'fantasy';
  font-size: 1vw;
}


.container {
  width: 100vw;
  height: 100vh;
}

.container video {
  z-index: -1;
  overflow: hidden;
  position: fixed;
  left: -7vw;
  top: 0;
  object-fit: cover;
  width: 115vw;
  height: 100vh;
  display: flex;
  align-items: left;
}

header {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 8vw;
  background-color: rgba(61, 61, 61, 0.8);
  padding: 3px;
  mix-blend-mode: screen;
  border-radius: 3px;
  font-family: 'TESLA', 'fantasy';
  font-size: 4vw;
  color: white;
  text-align: center;
  align-content: center;
}

main {
  margin-top: 8.5vw;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.sidemenu {
  order: -1;
  width: 12.5vw;
  height: 32vw;
  background-color: rgba(61, 61, 61, 0.8);
  padding: 0.2vw;
  margin-top: 0.1vw;
  margin-bottom: 1vw;
  border-radius: 2px;
}

button:hover {
  background-color: rgb(27, 27, 27);
  color: white;
  border: 1px solid rgba(220, 220, 220, 0.5);
}

button {
  font-family: fantasy, sans-serif;
  background-color: rgb(43, 43, 43);
  color: rgb(200, 200, 200);
  font-size: 1vw;
  width: 12vw;
  height: 3vw;
  padding: 0.2vw;
  margin-top: 3px;
  margin-left: 0.1vw;
  margin-right: 0px;
  border: 2px solid rgba(20, 20, 20, 0.5);
  border-radius: 3px;
}

.mainpage {
  font-size: 1vw;
  width: 82vw;
  height: 70vh;
  color: white;
  margin-left: 2vw;
  margin-top: 1vh;
  padding: 1vh;
}

.mainpage a {  
  color: white;
  text-decoration: none;
}

.mainpage a:hover {
  text-decoration: underline;
}

.container figure {
  display: flex;
  justify-content: space-around;  
  height: 45vw;
}

.mainpage #profiletext {
  width: 700px;
  height: 100px;
}

footer {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 41vw;
  width: 100vw;
  height: 7vw;
  background-color: rgba(61, 61, 61, 0.8);
  padding: 3px;
  mix-blend-mode: screen;
  border-radius: 3px;
  font-family: 'TESLA', 'fantasy';
  font-size: 4vw;
  color: white;
  text-align: center;
  align-content: center;
}
/* Se tamanho viewport < 430px */

@media (max-width: 430px) {
	main {
  		margin-top: 18.5vw;
 	}
	header {
		align-item: center;
		height: 17vw;
	}
	.sidemenu {
  		order: -1;
  		width: 20vw;
  		height: 80vh;
  		padding: 0.2vw;
  		margin-top: 0.1vw;
  		margin-bottom: 1vw;
  		border-radius: 2px;
	}
	button {
  		font-size: 3vw;
  		width: 19vw;
  		height: 3vh;
  		padding: 0.2vw;
  		margin-top: 3px;
  		margin-left: 0.1vw;
  		margin-right: 0px;
  		border: 1px solid rgba(20, 20, 20, 0.5);
  		border-radius: 2px;
	}
	.mainpage {
  		font-size: 2.2vw;
  		width: 78vw;
  		height: 70vh;
  		margin-left: 2vw;
  		margin-top: 1vh;
  		padding: 1vh;
	}
	.container figure {
  		display: flex;
  		justify-content: space-around;  
  		height: 55vh;
	}
	footer {
		top: 90vh;
		height: 17vw;
	}
}
/*# sourceMappingURL=mainlayout.css.map */
